.header-text{
    text-align: left;
}
button[type="submit"]{
    background: white;
    border: 1px solid gray;
    background: transparent;
    outline: none;
    width: 20%;
}
input[type="input"]{
    width: 80%;
    border: 1px solid grey;
    outline: none;
}